<h1>Signin to your account</h1>
<% if flash.notice %>
    <div class="error"><%= flash[:notice] %></div>
    <% flash.clear %>
<% end %>
<%= form_tag admins_welcome_path, :method => :post do %>
    <h4>Email</h4>
    <%= email_field_tag "email" %>
    <h4>Password</h4>
    <%= password_field_tag%>
    <%= submit_tag "Login" %>
<% end %>
<%= link_to 'Signup as Admin if its your first time', new_admin_path %>