<h1> Welcome to NCSU Libraries </h1>
<%= "Logged in as - Admin : " %>
<%=  session[:name].at(0) %>
<br />
<br />
<br />
<%= link_to 'Add new room', new_room_path %>
<br />
<%= link_to 'Book the room', reservations_newreservation_path %>
<br />
<%= link_to 'Manage members', admins_managemember_path %>
<br />
<%= link_to 'Manage reservations', admins_managereservation_path %>
<br />
<%= link_to 'Search available rooms', reservations_newreservation_path %>
<br />
<%= link_to 'Manage profile', edit_admin_path(@admin.first) %>
<br />
<%= link_to 'Add Multiple reservation permission to members', members_addPermission_path %>
<br />
<%= link_to 'Members with multiple reservation permission', admins_getmembersWithMultipleReservation_path %>