<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :room_number %><br>
    <%= f.select :room_number, @room_list%>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time, start_year: Date.today.year, end_year: Date.today.year+1 %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time, start_year: Date.today.year, end_year: Date.today.year+1 %>
  </div>
    <div class="field">
       <%= f.label :partnersEmail %><br>
       <%= f.text_field :partnersEmail , :placeholder => "Enter comma seperated emails"%>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
